<!--The content below is only a placeholder and can be replaced.-->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class= "container" style="text-align:center">
  
  <div class="blue">
      <h2 style="color:white">hiremio</h2>
      <br><br><br>
      <h1 style="color:white">FIND YOUR</h1>
      <h1 style="color:white">DREAM JOB</h1>
      
      <div class="wrap">         
        <input type="text" class="searchTerm" placeholder="e.g. Account Manager, Tokios" >
        
        <button type="submit" class="searchButton" id="arrowbtn">
            <i class="fa fa-arrow-right"></i>
        </button>
      </div>    
       
    </div>
    <br>
    <div class="navbar">
      <input  style="color:white;background-color: green;border-radius:6px;" type="submit1" type="button" value="Sign Up">
      <input  type="submit" type="button" value="Sign In">
      <input  type="submit" type="button" value="Blog">
      <input  type="submit" type="button" value="Companies">
      <input  type="submit" type="button" value="Pricing">
      <input  type="submit" type="button" value="Features">
    </div>
</div>

<div class="container2">
    <div class="row">
          <div class="column">
            <img class="logo" src="../assets/images/google.png"  style="width:100%">
          </div>
          <div class="column2">
            <img class="logo" src="../assets/images/link.png"  style="width:100%">
          </div>
          <div class="column3">
            <img  class="logo" src="../assets/images/tesla.png"  style="width:100%">
          </div>
          <div class="column4">
              <img  class="logo" src="../assets/images/disney.png"  style="width:100%">
            </div>
            <div class="column5">
                <img class="logo"  src="../assets/images/facebook.jpg" style="width:100%">
              </div>
              <div class="column6">
                  <img class="logo" src="../assets/images/google.png" style="width:100%">
                </div>
          </div>
        <h1 class="H1haiyeh" style="text-align:center;font-family: verdana;">Change Your Work. Change Your Life.</h1>
        <br><br><br>
        <div class="row2">
          <div class="column" id="Bttn-1">    
              <button type="submit" class="buttons">
                <img class="ico" style="width:100%;" src="../assets/images/icon3.png">
              </button>
              <h4 style="text-align:left;">Resume Online</h4>
           </div> 
          <div class="column"  id="Bttn-2">    
                  <button type="submit" class="buttons">
                  <img class="ico" style="width:100%;" src="../assets/images/icon1.png">
                  </button>
                  <h4>All Job Finder</h4>
           </div>
          <div class="column"  id="Bttn-3">    
                  <button type="submit" class="buttons">
                    <img class="ico" style="width:100%;" src="../assets/images/icon2.png">
                  </button>
                  <h4>No Spam</h4>
            </div>
            </div>
  </div>
<div class="container3">
      <br><br>
      <div class="col-100" id="con3"> 
      <h1 style="padding-left: 150px;">Save Time. Save Nerves. For Free</h1>
      <h5 style="color:gray;padding-left: 150px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, </h5>
      <h5 style="color:gray;padding-left: 150px;">sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h5>
      <br>
      <div>
        <h4 style="padding-left:150px;"><img class ="three"  src="../assets/images/time.png">Don't waste a time</h4>
        <h4 style="padding-left:150px;color:gray;">Use our advanced filter for quicker search. </h4>
      </div>
      <div>
        <h4 style="padding-left:150px;"><img class ="three"  src="../assets/images/smile.png">Right Jobs Only.</h4>
        <h4 style="padding-left:150px;color:gray;">
          Get only accurate jobs which fits you</h4></div>
      <div>
        <h4 style="padding-left:150px;"><img class ="three"  src="../assets/images/dollar.png">No Charge.</h4>
        <h4 style="padding-left:150px;color:gray;">
        It's all free. Forever</h4>
      </div>
      <br><br>
      <input  class="join-button" style="color:white;background-color: green;border-radius:6px;margin-right: 970px;" type="submit" type="button" value="JOIN AND SAVE TIME">
    </div>
</div>

<div class="container4">

<h1 style="padding-left:150px;padding-top:200px;color:honeydew; ">Change Life From Everywhere</h1>
<h5 style="padding-left:150px;color: honeydew; ">Lorem ipsum dolor sit amet, consectetur adipiscing elit,<br>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br></h5>
<br>
<br>
<div style="margin-left: 150px;" class="star-rating">
    <input type="radio" id="5-stars" name="rating" value="5" />
    <label for="5-stars" class="star">&#9733;</label>
    <input type="radio" id="4-stars" name="rating" value="4" />
    <label for="4-stars" class="star">&#9733;</label>
    <input type="radio" id="3-stars" name="rating" value="3" />
    <label for="3-stars" class="star">&#9733;</label>
    <input type="radio" id="2-stars" name="rating" value="2" />
    <label for="2-stars" class="star">&#9733;</label>
    <input type="radio" id="1-star" name="rating" value="1" />
    <label for="1-star" class="star">&#9733;</label>
  </div>

<div class="column7">    
    <button style="margin-left:50px;" type="submit" class="buttons">
    <img class="icon1" style="width:100%;" src="../assets/images/apple.png">
    </button>
        </div>
         <div class="column8">    
          <button type="submit" class="buttons">
          <img class="icon" style="width:100%;" src="../assets/images/android.png">
          </button>
          </div>
</div>
<br>
<div class="container5">
    <h1 style="margin-left: 150px;padding-top: 150px;color: honeydew;font-family:Calibri;"> Find Your Dream Job. Now . 
      <input style="margin-left:150px;" type="text" class="con7"  id="coon" placeholder="Your email" >
      <input style="color:white;background-color: green;border-radius:6px;margin-right: 200px;" id="cons7" type="submit1" type="button" value="Join Us">
    </h1>
</div>

<div class="container6">
  
<div class="footer">
    <br><br><br>  
  <div class="contain">
      <div class="col">
         
          
      </div>
      <div class="col">
        
        <ul>
          <li><select class="selectpicker" data-width="fit">
              <option  data-content='<span class="flag-icon flag-icon-us"></span> English'>English</option>
            <option  data-content='<span class="flag-icon flag-icon-mx"></span> Español'>Español</option>
          </select></li>
          <li>Help</li>

        </ul>
      </div>
      <div class="col">
        <h1>Social</h1>
        <ul>
          <li><i class="fa fa-facebook-square"></i>Facebook</li>
          <li><i class="fa fa-twitter" ></i>Twitter</li>
          <li><i class="fab fa-linkedin-in"></i>LinkedIn</li>
         
        </ul>
      </div>
      <div class="col">
        <h1>Useful Link</h1>
        <ul>
          <li>Sign In</li>
          <li>Sign Up</li>
          <li>Add Job Offer</li>
        </ul>
      </div>
      <div class="col">
        <h1>About</h1>
        <ul>
          <li>Terms & Condition</li>
          <li>Privacy</li>
          <li>Blog</li>
        </ul>
      </div>
    <div class="clearfix"></div>
    </div>
    </div>
    <!-- END OF FOOTER -->

</div>


<router-outlet></router-outlet>
